@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blog-view {
      a {
        color: blue;
        font-weight: 600;
        text-decoration: underline;
      }
      pre {
        background-color: black;
        padding: 10px 20px;
        border-radius: 10px;
        color: whitesmoke;
      }
    }
    .blog-ql-view {
      box-sizing: border-box;
      counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      line-height: 1.42;
      height: 100%;
      outline: none;
      overflow-y: auto;
      padding: 12px 15px;
      -o-tab-size: 4;
      tab-size: 4;
      -moz-tab-size: 4;
      text-align: left;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .bg-system {
      /* ... */
      background-color: #306BA0;
    }
    :hover.bg-system{
        background-color: #306ca0d8;
    }
    .text-system {
      color: #3a3940;
    }
    .text-activity {
      color: #D8727D;
    }
    .bg-alert{
      background-color: #B80011;
    }
    :hover.bg-alert{
      background-color: #b80012e0;
    }
    .bg-activity {
      background-color: #d8727c41;
    }
    .avatar-size{
      width: 300px;
      height: 300px;
    }
    .border-system {
      border: #306BA0;
      border-style: solid;
      border-width: 0px;
      border-left-width: 8px;
    }
    .border-bg-system{
      border: #306BA0;
      border-style: solid;
    }
    .text-system-blue {
      color: #306BA0
    }
    .bg-btn-system{
      background-color: #565656;
    }
  }